
/*------Colours */
body {
  background-color: #ffec13;
}
.bg-colour-header-container{
  background-color: #e63432;
}
.bg-colour-nav{
  background-color: #0ac5fa;
}
/*This will be split up*/
.bg-colour-nav-home,
.bg-colour-nav-members,
.bg-colour-nav-listen,
.bg-colour-nav-contact {
  background-color: #551a8b;
}
.nav-item a{
  color: #0ac5fa;
}

#heading h1{
  color: #0ac5fa;
}
/*----------------Spacial paddings/margins/text */
h1, h2, h3, h4{
  margin: 0;
}
/*--------------------------------Header including nav */
header {
  margin: 0;
}
#header-container{
  height: 100px;
}
#logo {
  background: url("../images/monkees-logo.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  min-height: 100px;
}
#heading{
  margin: 0;
  height: 50px;
  max-height: 50px;
  text-align: center;
}
#heading h1{
/*TODO figure out how to constrain the text inside the div */
  font-size: 2em;
  text-shadow: #000 2px -2px 2px;
}
#nav{
  /*removes the remaining spaces between manu items*/
  font-size: 0px;

  margin: 0;
  height: 50px;
}
.nav-item{
  padding: 8px;
  font-size: 14px;
  height: 50px;
  text-align: center;

}
.nav-item a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  height: 50px;
  text-shadow: #000 2px -2px 2px;
}
/*Removes build in margin*/
.list-inline-item:not(:last-child){
  margin: 0;
}
