@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700|Righteous:100,200,300,400,500,600,700');
/*------Colours */
.container {
  background-color: #ffec13;
}
.bg-colour-header-container{
  background-color: #e63432;
}
.nav-item{
  background-color: #551a8b;
}
.nav-item a{
  color: #0ac5fa;
}
.heading h1{
  color: #0ac5fa;
}

.bg-colour-footer-container{
  background-color: #551a8b;
}
/*----------------Spacial paddings/margins/text */
h1, h2, h3, h4{
  margin: 0;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  align-content: center;
}
/*--------------------------------Header including nav */
header {
  margin: 0;
}
.header-container{
  height: 100px;
  border-radius: 50%;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .header-container{
    height: 180px;
  }
}

.logo {
  background: url("../images/monkees-logo.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  min-height: 100px;
}
.heading{
  margin: 0;
  height: 50px;
  max-height: 50px;
  text-align: center;
}
.heading h1{
  padding-right: 150px;
  font-family: "Lobster", sans-serif;
  font-size: 2em;
  text-shadow: #000 2px -2px 2px;
}
@media (max-width: 767px) {
  .heading h1{
    padding-right: 0px;
  }
}
.nav{
  /*removes the remaining spaces between manu items*/
  font-size: 0px;

  margin: 0;
  height: 50px;
}
.nav-item-conrainer{
  height: 60px;
  padding: 0px;
  align-content: center;

}
.nav-item{
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 50%;
  padding-top: 10px;

  margin: 0 auto;
  position: relative;

}
/*Makes nav buttons follow the curve*/
.nav-item-home{
  margin-top: 24px;
}
.nav-item-members{
  margin-top: 26px;
}
.nav-item-listen{
  margin-top: 20px;
}
.nav-item-contact{
  margin-top: 8px;
}

@media (max-width: 767px) {
  .nav-item-home{
    margin-top: -20px;
  }
  .nav-item-members{
    margin-top: -4px;
  }
  .nav-item-listen{
    margin-top: 14px;
  }
  .nav-item-contact{
    margin-top: -15px;
  }
}
@media (max-width: 575px) {
  .nav-item{
    margin-top:10px;
  }
  .nav-item-home,
  .nav-item-listen{
    float:right;
    margin-right: 4px;
  }
  .nav-item-members,
  .nav-item-contact{
      float:left;
      margin-left: 4px;
  }

}
.nav-item a{
  font-family: "Righteous", sans-serif;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: #000 2px -2px 2px;
  width: 100%;
  height: 100%;
}
.nav-item a:hover{
  font-size: 24px;
  text-shadow: #000 4px -4px 4px;

}
/*Removes build in margin*/
.list-inline-item:not(:last-child){
  margin: 0;
}

/*----------------------Footer--*/
.footer-container{
  height: 80px;
  margin: 0;
}
.book-now-container{
  margin-top: 10px;
  padding-left: 20px;
}


.footer-book-section a{
  text-decoration:none;
}

.book-now-container a h3{

  font-family: "Righteous", sans-serif;
  font-size: 26px;
  height: 60px;
  width: 200px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  background-color: #e63432;
  color: #fff;
  text-shadow: #000 2px -2px 2px;
}

.book-now-container:hover{
  margin-top: 2px;
  padding-left: 10px;
}
.book-now-container:hover a h3{
  height: 75px;
  width: 220px;
  padding-top: 16px;
  font-size:32px;
  text-shadow: #000 4px -4px 4px;
}


.social-links{
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  right: 10px;

}
.social-links li a i{
  width: 45px;
  height: 45px;
  padding: 18px 0;
  border-radius: 50%;
  font-size: 30px;
  line-height: 7px;
  text-align: center;
}
.social-links li a i:hover{
  width: 55px;
  height: 55px;
  font-size: 35px;
  padding-top: 22px;
}
.icon-youtube{
  color: #fff;
  background: #ff0000;
}
.icon-twitter{
  color: #1da1f2;
  background: #fff;
}
.icon-facebook{
  color: #fff;
  background: #3b5998;
}
